# React
react-practical/node_modules
react-material-styled/node_modules
react-typescript/node_modules

# React Testing Folder
react-testing/node_modules
react-testing/coverage

# React Explore FOlder
react-xplore/node_modules
react-xplore/.parcel-cache
react-xplore/dist
notes/CORS.md
notes/monolithic.md
notes/microservice.md