# React
react-practical/node_modules
react-material-styled/node_modules
react-typescript/node_modules
react-toolkit-saga/node_modules

# React Testing Folder
react-testing/node_modules
react-testing/coverage

# React Explore Folder
react-explore/node_modules
react-explore/.parcel-cache
react-explore/dist
notes/CORS.md
notes/monolithic.md
notes/microservice.md